{% for post in posts reversed %}
    <div class="col-md-12 well" style="">
        <span style="font-weight:bold;font-size:125%;">{{ post.title }}</span>
        <div style="float: right;">
            <button type="button" class="btn btn-default btn-xs" style="vertical-align:center; margin-left: 10px;">
            <span class="glyphicon  glyphicon-comment" aria-hidden="true"></span> Add Comment
            </button>
        </div>
        <div style="float: right;">{{ post.date }}</div>

        <br/>
        <span>{{ post.text }}</span>
    </div>
    {% if post.image %}
        <div class="col-md-12" style="">
            <img style="max-width:100%" src="{{ post.image.url }}">
        </div>
    {% endif %}
{% endfor %}