{% for profile in sent %}
<div class="search-user col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <a href="{{profile.host}}/profile/{{profile.display_name}}"><img src="http://placehold.it/100x100" alt="" class="img-thumbnail"></a>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <span class="search-user-displayname">
            <a href="{{profile.profile.host}}/profile/{{profile.display_name}}">{{profile.display_name}}</a>
        </span>
        <div class="btn-group-vertical btn-group-xs pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-warning follow-button" value="{{profile.guid}}" data-displayname="{{profile.display_name}}"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Follow</button>
            <button type="button" class="btn btn-primary friend-button" value="{{profile.guid}}" data-displayname="{{profile.display_name}}"><i class="glyphicon glyphicon-user"></i>&nbsp;Add Friend</button>
        </div>
    </div>
</div>
{% endfor %}
