{% extends 'framework/base.html' %}

{% block content %}

    {# This is a local page link to the top of the page in case of navigation switch ie. click on All Posts #}
    <span id="top"></span>

    <div class="container-fluid navbar-padding">
        <div class="row">

            <!-- Sticky Left Sidebar -->
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li id="stream_nav" class="active">
                        <a href="#"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            Stream</a>
                    </li>
                    <li id="myposts_nav"><a href="#"><span class="glyphicon glyphicon-object-align-left"
                                                           aria-hidden="true"></span> My Posts</a></li>
                    <li id="allposts_nav"><a href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        All Posts</a></li>
                </ul>
            </div>

            <!-- Main content -->

            <!-- Stream -->
            <div id="stream" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Stream</h1>

                <!-- Make A Post -->
                <div class="row col-md-10 col-md-offset-1">
                    <h2>New Post</h2>
                    <!-- Options -->
                    <form id="new_post" method="post" action="/post/new/" enctype="multipart/form-data">
                        {% csrf_token %}
						<div style="margin: 0; padding: 0;" class="row col-md-10 form-inline">
							<input name="title" placeholder="Title" class="form-control" style="width:100%">
						</div>
                        <div style="margin: 0;" class="row col-md-10 well form-inline">
                            <div class="form-group col-md-3">
                                <button type="button" onclick="$(this).siblings('input').click();"
                                        class="btn btn-default"
                                        aria-label="Left Align">
                                <span class="glyphicon glyphicon-camera"
                                      aria-hidden="true"></span>
                                </button>
                                <input type="file" name="upload_image" id="upload_image" style="display:none;">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="plaintext_option">Plain Text</label>
                                <input type="radio" name="content_type" class="form-control" id="plaintext_option" value="plain" checked>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="commonmark_option">CommonMark</label>
                                <input type="radio" name="content_type" class="form-control" id="commonmark_option" value="commonmark">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="visibility">Share With</label>
                                <select id="visibility" class="form-control" name="visibility">
                                    <option value="Private">Only Me</option>
                                    <option value="Friend">Friends</option>
                                    <option value="FOAF">Friends of Friends</option>
                                    <option value="Server">Local Friends</option>
                                    <option value="Public">Everyone</option>
                                </select>
                            </div>
                        </div>
                        <!-- Post Content -->
                        <div style="margin: 0; padding: 0;" class="row col-md-10 form-inline">
                            <textarea style="width:100%" class="form-control" rows="3" form="new_post"
                                      name="text"></textarea>
                        </div>
                        <div style="margin: 0; padding: 0;" class="row col-md-10 form-inline">
                            <input style="float:right;" class="btn button" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
                <div class="row col-md-10 col-md-offset-1">

                    <!-- Line Break -->
                    <div style="margin: 0; padding: 0;" class="row col-md-10">
                        <hr>
                    </div>

                    <!-- Include all posts from stream -->
                    <div class="row col-md-10" style="margin: 0; padding: 0;">
                        {% include 'posts/github_feed.html' %}

                    </div>
                    <div class="row col-md-10" style="margin: 0; padding: 0;">
                        {% include 'posts/all.html' %}
                    </div>
                </div>


            </div>

            <!-- My Posts -->
            <div id="myposts" style="display:none;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">My Posts</h1>

                <!-- Posts -->
                <div class="row">
                    <div class="row col-md-10 col-md-offset-1">

                    <!-- Line Break -->
                    <div style="margin: 0; padding: 0;" class="row col-md-10">
                        <hr>
                    </div>

                    <!-- Include all posts from stream -->
                    <div class="row col-md-10" style="margin: 0; padding: 0;">
                        {% include 'posts/all.html' %}
                    </div>

                     <div class="row col-md-10" style="margin: 0; padding: 0;">
                        {% include 'posts/github_feed.html' %}
                    </div>
                    </div>
                </div>

            </div>

            <!-- All Posts -->
            <div id="allposts" style="display:none;" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">All Posts</h1>

                <!-- Posts -->
                <div class="row">
                    <div class="row col-md-10 col-md-offset-1">

                    <!-- Line Break -->
                    <div style="margin: 0; padding: 0;" class="row col-md-10">
                        <hr>
                    </div>

                    <!-- Include all posts from stream -->
                    <div class="row col-md-10" style="margin: 0; padding: 0;">
                        {% include 'posts/all.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
