{% extends 'framework/base.html' %}

{% block content %}
    <div class="container">

        <div id="signupdiv">
            <form class="form-signin" action="/signup/" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">Sign Up</h2>

                <label for="signupFirstName" class="sr-only">First Name</label>
                <input type="text" id="signupFirstName" name="signupFirstName" class="form-control" placeholder="First Name"
                       required>

                <label for="signupLastName" class="sr-only">Last Name</label>
                <input type="text" id="signupLastName" name="signupLastName" class="form-control" placeholder="Last Name"
                       required>

                <label for="signupEmail" class="sr-only">Email</label>
                <input type="text" id="signupEmail" name="signupEmail" class="form-control" placeholder="Email"
                       required autofocus>

                <label for="signupUsername" class="sr-only">Username</label>
                <input type="text" id="signupUsername" name="signupUsername" class="form-control" placeholder="User Name"
                       required>

                <label for="signupPassword" class="sr-only">Password</label>
                <input type="password" id="signupPassword" name="signupPassword" class="form-control" placeholder="Password"
                       required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

                <div style="padding-top:15px; font-size:85%" >
                    Have an account?
                    <a href="#" onClick="location.href='/login';">
                        Sign In Here
                    </a>
                </div>
            </form>
         </div>
    </div>

{% endblock %}