{% load posts_extra %}
{% for comment in post.comment_set.all %}
    <div class="col-md-12" style="background-color: white;">

        <div style="float: right;"><span style="font-weight:bold;font-size:125%;"> <a href="{{comment.author.profile.host}}/profile/{{ comment.author.display_name }}/">{{ comment.author.display_name }}</a></span>
        on {{ comment.date }}</div>

        <br/>
        {% if  post.commonmark %}
            <span>{{ comment.text|commonmark|safe }}</span>
        {% else %}
            <span>{{ comment.text }}</span>
        {% endif %}
    </div>
    {% if comment.image %}
        <div class="col-md-12" style="">
            <img style="max-width:100%" src="{{ post.image.url }}">
        </div>
    {% endif %}
{% endfor %}